*,
::before,
::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Inter, sans-serif;
    color: var(--text-color);
    background: var(--bg-color);
}

// Color
:root {
    --orange-color: #ff664f;
    --icon-color: #fff;
    --text-color: #fff;
    --desc-color: #696b76;
    --bg-color: #12141d;
    --toggle-bg-color: #2a2b33;
    --bg-button-primary-color: #1d1f29;
    --bg-features-color: #1e2029;
}

button {
    outline: none;
    border: none;
}

// Button
.btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s;

    &:hover {
        opacity: 0.8;
    }

    &--sm {
        padding: 10px 16px;
        font-size: 1.3rem;
        border-radius: 4px;
        font-weight: 600;

        &-primary {
            background: var(--bg-button-primary-color);
            color: var(--text-color);
        }

        &-second {
            background: var(--text-color);
            color: var(--bg-color);
        }
    }

    &--md {
        padding: 14px 30px;
        font-size: 1.4rem;
        border-radius: 8px;
        font-weight: 600;

        &-primary {
            background: var(--bg-button-primary-color);
            color: var(--text-color);
        }

        &-second {
            background: var(--text-color);
            color: var(--bg-color);
        }

        &-orange {
            background: var(--orange-color);
            color: var(--text-color);
        }
    }
}

// Heading / Paragraph
.heading--primary {
    display: inline-block;
    color: var(--text-color);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 109.524%;
    letter-spacing: -1.05px;
}

.heading--third {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.2px;
    text-transform: capitalize;
}

.desc--primary {
    display: inline-block;
    color: var(--desc-color);
    font-size: 2rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.4px;
}

.desc--second {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.32px;
}
