.header {
    &-wrap {
        display: flex;
        align-items: center;
        padding: 22px 0;
    }

    &-toggle {
        display: flex;
        align-items: center;
        gap: 8px;

        &__link {
            color: var(--text-color);
            text-decoration: none;
            font-weight: 700;
            line-height: 187.5%;
            letter-spacing: -0.32px;
        }

        &-wrap {
            display: flex;
            align-items: center;
            padding: 2px;
            width: 40px;
            height: 22px;
            border-radius: 11px;
            background: var(--toggle-bg-color);
        }

        &__icon {
            margin-left: auto;
        }
    }

    &-nav {
        margin-left: 80px;

        &__list {
            display: flex;
            align-items: center;
            gap: 34px;
        }

        &__link {
            font-size: 1.3rem;
            color: var(--desc-color);
            font-weight: 500;
            letter-spacing: -0.13px;
            transition: all 0.25s;

            &:hover {
                color: var(--text-color);
            }

            &--active {
                color: var(--text-color);
            }
        }
    }

    &-sign {
        margin-left: auto;
        display: flex;
        gap: 18px;
    }
}
